<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Logout page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
  <div class="login">
  	<h1 class="login-heading">
      <strong>Logout successes,</strong> see you soon ;").</h1>
      <form method="post">
          <div class="login-footer">
             <a href="#" class="lnk">
              <span class="icon icon--min">ಠ╭╮ಠ</span> 
              <a href="/login">{{ err }}</a>
            </a>
          </div>
      </form>
  </div>
</div>
    <script src="/static/js/index.js"></script>
</body>
</html>
