<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View entry</title>
    <link rel="stylesheet" href="/static/css/show-entries.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
	<div class="row">
        <!-- container Principal -->
        <div class="comments-container">
            <h1>Entry ID: {{ entry_id }} </h1>
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="/static/avatar.jpg" alt=""></div>
                        <!-- content of entry -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="#">{{ entry.title }}</a></h6>
                                <span>{{ entry.datetime }}</span>
                            </div>
                            <div class="comment-content">
                                {{ entry.content }}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
	</div>
	</div>
    <div class="row">
        <div class="comments-container">
            <div class="form-group">
                <a href="/entries/page/1"><button type="submit" class="btn btn--right">Return</button></a>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>