<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/static/css/show-entries.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
	<div class="row">
        <!-- container Principal -->
        <div class="comments-container">
		<h1>Blogful <a href="#">, great to see you here :)"</a></h1>
            <a href="/entries/add"><i class="glyphicon glyphicon-plus"></i> <strong>New post</strong></a>
		<ul id="comments-list" class="comments-list">
            {% for entry in entries %}
                <li>
                    <div class="comment-main-level">
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="/static/avatar.jpg" alt=""></div>
                        <!-- content of entry -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="/entries/{{ entry.id }}">{{ entry.title }}</a></h6>
                                <span class="">{{ entry.datetime }}</span>
                                <a href="/entries/{{ entry.id }}/delete"><i class="glyphicon glyphicon-remove"></i></a>
                                <a href="/entries/{{ entry.id }}/edit"><i class="glyphicon glyphicon-refresh"></i></a>
                                <a href="/entries/{{ entry.id }}"><i class="glyphicon glyphicon-log-in"></i></a>
                            </div>
                            <div class="comment-content">
                                {{ entry.content }}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}

		</ul>
	</div>
	</div>
    <div class="row">
        <div class="comments-container">
            <div class="row">
                <div class="form-group">
                    <form method="post">
                        <label for="wrapped">Posts/page</label>
                        <div class="input-group">
                            <input id="postsPerPage" class="btn btn-default" type="number" name="per_page" value="{{ entry_per_page }}"
                                   min="1" max="20" step="1">
                            <input id="submit"  class="btn btn-primary" type="submit" name="submit"  value="reload"  method="post">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="pagination">
                <li class="page-item"><a class="page-link" href="/entries/page/1">First</a></li>
                {% if page_quantity > 2 %}
                    {% if currentPage > 1 %}
                        <li class="page-item"><a class="page-link" href="/entries/page/{{ currentPage-1 }}">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}

                    {% if (currentPage > 1 and currentPage < page_quantity) %}
                        <li class="page-item"><a class="page-link" href="/entries/page/{{ currentPage - 1 }}">{{ currentPage - 1 }}</a></li>
                        <li class="page-item active"><a class="page-link " href="/entries/page/{{ currentPage }}">{{ currentPage }}</a></li>
                        <li class="page-item"><a class="page-link" href="/entries/page/{{ currentPage + 1 }}">{{ currentPage + 1 }}</a></li>
                    {% elif currentPage == 1 %}
                        <li class="page-item active"><a class="page-link " href="/entries/page/1">1</a></li>
                        <li class="page-item"><a class="page-link" href="/entries/page/2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/entries/page/3">3</a></li>
                    {% elif currentPage == page_quantity %}
                        <li class="page-item"><a class="page-link" href="/entries/page/{{ currentPage - 2 }}">{{ currentPage - 2 }}</a></li>
                        <li class="page-item"><a class="page-link" href="/entries/page/{{ currentPage - 1  }}">{{ currentPage - 1 }}</a></li>
                        <li class="page-item active"><a class="page-link " href="/entries/page/{{ currentPage }}">{{ currentPage }}</a></li>
                    {% endif %}

                    {% if currentPage < page_quantity %}
                        <li class="page-item"><a class="page-link" href="/entries/page/{{ currentPage + 1 }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                {% elif page_quantity == 2 %}
                    <li class="page-item"><a class="page-link" href="/entries/page/1">1</a></li>
                    <li class="page-item"><a class="page-link" href="/entries/page/2">2</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/entries/page/1">1</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="/entries/page/{{ page_quantity }}">Last</a></li>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>